body{
    background-color: rgb(255, 255, 255);
}

nav{
    background-color: rgb(17, 45, 78);
    height: 100px;
}

ul{
    display: flex;
    float:right;
}

li{
    list-style: none;
    padding: 50px 0px;
    margin: 0px 50px 0px 0px;
}

a{
    text-decoration: none;
    color: white;
}

.heading{
    color: rgb(17, 45, 78);
    margin: 50px 600px;
}

.container{
    width:610px;
    height: 600px;
    background-color: white;
    display:grid;
    /* grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr; */
    grid-template-rows: repeat(12, 2fr);
    grid-template-columns: 2fr 4fr;
    row-gap: 10px;
    column-gap: 10px;
    margin: auto 400px;
}

.item{
    font-size: 20px;
    border-bottom: 5px solid grey;
    color: black;
    padding: 5px 5px;
    width: 150px;
}

.entry{
    width: 500px;
    color: black;
    border-bottom: 5px solid grey;
    font-size: 20px;
    padding: 5px 5px;
}body{
    background-color: rgb(255, 255, 255);
}

nav{
    background-color: rgb(17, 45, 78);
    height: 100px;
}

ul{
    display: flex;
    float:right;
}

li{
    list-style: none;
    padding: 50px 0px;
    margin: 0px 50px 0px 0px;
}

a{
    text-decoration: none;
    color: white;
}

.heading{
    color: rgb(17, 45, 78);
    margin: 50px 600px;
}

.container{
    width:610px;
    height: 600px;
    background-color: white;
    display:grid;
    /* grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr; */
    grid-template-rows: repeat(12, 2fr);
    grid-template-columns: 2fr 4fr;
    row-gap: 10px;
    column-gap: 10px;
    margin: auto 400px;
}

.item{
    font-size: 20px;
    border-bottom: 5px solid grey;
    color: black;
    padding: 5px 5px;
    width: 150px;
}

.entry{
    width: 500px;
    color: black;
    border-bottom: 5px solid grey;
    font-size: 20px;
    padding: 5px 5px;
}